@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

@model IEnumerable<BaiViet>
<div class="second_container">
    <!--***** posts_container start ****** -->
    <div class="main_section">
        <div class="posts_container">
            <div class="posts">
                @foreach (var baiViet in Model)
                {
                    <div class="post" id="post-@baiViet.MaBaiViet">
                        <div class="info">
                            <div class="person">
                                <img src="@Url.Content(baiViet.AnhDaiDien)">

                                <a href="@Url.Action("K_TrangCaNhan", "TrangCaNhan", new { id =  @baiViet.MaNguoiDung})">@baiViet.TenNguoiDung</a>
                                <span class="circle">.</span>
                                <span>@baiViet.NgayTao.ToString()</span>
                                <br />
                                <span style="margin-left: 35px; font-size: small; position: relative; top: -10px;">@baiViet.TenLoaiMonAn</span>
                            </div>
                            
                        </div>
                        @if (!string.IsNullOrEmpty(baiViet.AnhBaiViet))
                        {
                            <div class="image">
                                <img src="@baiViet.AnhBaiViet">
                            </div>
                        }
                        <div class="desc">
                            <div class="icons">
                                <div class="icon_left d-flex">
                                    <div class="like">
                                        @if (baiViet.IsLiked)
                                        {
                                            <img class="not_loved hide_img button_like" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung" src="../LayoutTrangChu/img/love.png">
                                            <img class="loved display button_like" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung" src="../LayoutTrangChu/img/heart.png">
                                        }
                                        else
                                        {
                                            <img class="not_loved button_like" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung" src="../LayoutTrangChu/img/love.png">
                                            <img class="loved hide_img button_like" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung" src="../LayoutTrangChu/img/heart.png">
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="liked">
                                <a class="bold" id="like-count-@baiViet.MaBaiViet">@baiViet.SoLuongLike likes</a>
                            </div>
                            <div class="post_desc">
                                <p>
                                    <a class="bold" href="#">@baiViet.TenNguoiDung</a> @baiViet.NoiDung
                                </p>
                                <p> Comments </p>

                                @foreach (var cmt in @ViewBag.cmts)
                                {
                                    @if (cmt.MaBaiViet == baiViet.MaBaiViet)
                                    {
                                        <p>
                                            <a class="bold" href="#">@cmt.TenNguoiDung</a> @cmt.NoiDung
                                        </p>
                                    }
                                }
                                <div class="comment-section" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung">
                                    <input type="text" class="commentInput" placeholder="Add a comment..." />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--***** posts_container end ****** -->
    <!--*****Loai Mon An ****** -->
    <div class="menukhampha">
        <div class="header-div-khampha">
            <span class="header-text">Khám phá</span>
        </div>
        <nav class="vertical-menu-khampha">
            @foreach (var item in ViewBag.LoaiMonAns)
            {
                <a href="@Url.Action("Index", "KhamPha", new { loaiMonAnId = item.MaLoaiMonAn })" class="@(item.MaLoaiMonAn == ViewBag.SelectedLoaiMonAnId ? "active" : "")">@item.TenLoaiMonAn</a>
            }
        </nav>
    </div>
    <!--***** Loai Mon An ****** -->

</div>


<style>
    .menukhampha {
        width: 250px;
    }

    .header-div-khampha {
        display: flex;
        align-items: center;
        background-color: black;
        padding: 15px;
    }

    .header-text {
        color: white;
        font-weight: bold;
        font-size: 16px; /* Kích thước chữ có thể điều chỉnh */
    }

    .vertical-menu-khampha {
        border: 2px solid black;
    }

        .vertical-menu-khampha a {
            background-color: white;
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }

            .vertical-menu-khampha a:hover {
                background-color: black;
                color: white;
            }

            .vertical-menu-khampha a.active {
                background-color: black;
                color: white;
            }
</style>
